* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #B08EA2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a{
  color: #121212;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

  body {
    text-align: center;
    margin: 0;
    font-family: 'consolas',monaco,monospace;
    background-color: #2C2C2C;
    position: relative;
    color: #E5E5E5;
  } 
  h1 {
    color: #dce6ee;
    font-size: 104px;
    text-shadow: 5px 3.5px 0 #000;
    /**-webkit-text-stroke: 3px black;**/
    
  }
  
  h2 {
    color: #E5E5E5, 100%;
    word-wrap: break-word;
    font-size: 24px;
  }
  
  .namehighlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50% red 50%);
  }
  
  .highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #121212 50%);
  }
  
  .intro {
    font-family: 'Consolas' ,monaco,monospace;
  }
  
  hr {
    width: 80%;
    height: 5px;
    border: none;
    background: #E5E5E5;
  }

  .column {
    float: left;
    width: 33.3%;
    padding: 0px;
    height: fit-content;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    color: #B08EA2 ;
  }

    .skills {
    margin: 0;
  }
  
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
  }
  
  h5 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h6 {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  p {
    text-align: center;
    color: black;
    font-size: 20px;
  }

 
  
  .footer a {
    text-decoration: none;
  }

  
  @media screen and (max-width: 767.98px) {

    h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 16px;
    }
    .column {
      width: 100%;
    }

    .footer {
      font-size: 14px;
      height: 40px;
    }
  }

  @media screen and (max-width: 1040px) {


    .nav-links {
      display: flex;
      justify-content: space-around;
      width: 60%;
    }
    .nav-links a {
   font-size: 16px;
    }


    h2 {
      font-size: 20px;
    }

  }
  
  a {
    color: black;
  }
  

    .footer {
      position: static;
      left: 0%;
      bottom: 0%;
      height: 100px;
      width: 100%;
      background-color: #B08EA2;
      font-weight: bold;
      font-size: 24px;
      color: #121212;
      line-height: 100px;
    }
